* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", sans-serif;
	overflow-x: hidden;
}

/* Top bar start */
.top-bar {
	background: #e3f2fd;
	color: #0d47a1;
	font-size: 14px;
}

.top-bar .top-info i {
	margin-right: 5px;
	font-size: 18px;
}

.top-bar .top-info p {
	margin: 0px;
}

.top-bar ul {
	margin: 0px;
}

.social-icons li {
	display: inline-block;
}

/* Top bar end */

/* header banner start */

.header-banner {
	width: 100%;
	height: 300px;
	background: url(/images/bg-img/header-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.header-banner a img {
	width: 100%;
	max-width: 420px;
	height: 154px;
}

.header-banner img {
	width: 100%;
	max-width: 260px;
	height: 260px;
}

/* header banner end */

/* Navbar Start */
.navbar {
	background-color: #1f5086;
	transition: all 0.3s ease-in-out;
}

.navbar ul li a {
	color: #ffffff;
	font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    line-height: 40px;
    transition: 350ms;
	padding: 0px;
}

.navbar .nav-link {
	white-space: nowrap;
	overflow-y: hidden;
}

.navbar-nav .nav-link.active {
	color: #1976d2;
}

.navbar.scrolled {
	background-color: #1f5086;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-link:focus,
.nav-link:hover {
	color: #fff;
	text-decoration: none;
}


.dropdown-item {
  white-space: nowrap;
    padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  color: #fff;
  padding-left: 24px;
}

.dropdown-menu {
    min-width: 260px !important;
  border-radius: 8px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 8px 10px;
	border-top: 2px solid #1976d2;
	background-color: #ffffff;
	/* margin-top: 6px !important; */
}

.dropdown-menu .dropdown-item {
	color: #212529;
}
.dropdown-menu .dropdown-item:hover {
	color: #687786;
}

.dropdown-menu li:last-child a {
	border-bottom: none;
}

/* Hide default Bootstrap caret */
.dropdown-toggle::after {
	display: none;
}

.fa {
	transition: all ease-in-out 0.4s;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	color: #ffffff;
}

/* Hover on dropdown */
@media (min-width: 992px) {
	.nav-item.dropdown:hover > .dropdown-menu {
		display: block;
		margin-top: 0;
	}
}

/* Navbar end */

/* page banner start */

.page-banner {
	position: relative;
	background: url("../images/banner/banner1.jpg") center/cover no-repeat;
	min-height: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	overflow: hidden;
}

/* Dark overlay */
.page-banner::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 50, 80, 0.75);
	z-index: 1;
}

.breadcrumb-item + .breadcrumb-item::before {
	color: #ffffff;
}

.banner-content {
	position: relative;
	z-index: 2;
	text-align: center;
}

.banner-content h1 {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 1px;
}

.breadcrumb {
	justify-content: center;
	background: none;
	margin-top: 10px;
}

.breadcrumb a {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.breadcrumb .active {
	color: #ffffff;
}

/* page banner end */

/* mid tech section start here */
.midi-tech-section {
	background: #f5f5f5;
}
.midi-tech-content h1 {
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
}

.midi-tech-content h3 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.midi-tech-content p {
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 15px;
}

.midi-tech-image img {
	width: 500px;
}

.our-vision-content h3 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.our-vision-content p {
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 10px;
}

.our-vision-image img {
	width: 500px;
}
/* mid tech section end here */

/* footer section start */

.dark-footer {
	background: linear-gradient(135deg, #1d3557, #addfff);
	color: #fff;
	padding: 60px 0px;
	font-family: "Segoe UI", sans-serif;
}

.footer-title {
	color: #ffffff;
	margin-bottom: 20px;
	font-weight: 600;
	position: relative;
}

.footer-title::after {
	content: "";
	width: 40px;
	height: 3px;
	background: #00254a;
	display: block;
	margin-top: 6px;
}

.footer-text {
	color: #e3f2fd;
	font-size: 14px;
	line-height: 1.7;
}

.footer-list {
	list-style: none;
	padding: 0;
}

.footer-list li {
	color: #e3f2fd;
	margin-bottom: 12px;
	font-size: 14px;
}

.footer-list i {
	color: #00254a;
	margin-right: 10px;
}

/* Social Icons */
.social-icons a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	margin-right: 10px;
	border-radius: 50%;
	color: #00254a;
	font-size: 25px;
	transition: 0.3s ease;
}

.social-icons a:hover {
	color: #fff;
	transform: translateY(-4px);
}

.footer-copy {
	font-size: 13px;
	color: #888;
}

/* footer section end */

/* footer copyright section */
.right-footer {
	background: linear-gradient(135deg, #1d3557, #457b9d);
	padding: 15px 0;
}

.right-footer p {
	font-size: 14px;
	color: #e3f2fd;
}

.right-footer a {
	margin-left: 15px;
	text-decoration: none;
	color: #e3f2fd;
	font-weight: 500;
}

.right-footer a:hover {
	color: #020b12;
	text-decoration: underline;
}

/* WhatsApp Button */
.whatsapp-btn {
	position: fixed;
	right: 50px;
	bottom: 65px;
	background-color: #25d366;
	color: #fff;
	font-size: 22px;
	padding: 10px 15px;
	border-radius: 50%;
	text-align: center;
	z-index: 1000;
}

/* Scroll To Top Button */
.scroll-top {
	position: fixed;
	right: 55px;
	bottom: 3px;
	background-color: #1d3557;
	color: #fff;
	border: none;
	padding: 10px 12px;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease;
}

.scroll-top:hover {
	background-color: #00254a;
}
