* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", sans-serif;
	overflow-x: hidden;
}

/* Top bar start */
.top-bar {
	background: #e4e1cd;
	color: #534e2d;
	font-size: 14px;
}

.top-bar .top-info i {
	margin-right: 5px;
	font-size: 18px;
}

.top-bar .top-info p {
	margin: 0px;
}

.top-bar ul {
	margin: 0px;
}

.social-icons li {
	display: inline-block;
}

/* Top bar end */

/* header banner start */

.header-banner {
	width: 100%;
	height: 300px;
	background: url(/images/bg-img/black.png) center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.header-banner::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(228, 225, 205, 0.5);
}

.header-banner .header-banner-content {
	position: relative;
	z-index: 1;
}

.header-banner .left-logo img {
	width: 100%;
	max-width: 420px;
	height: 154px;
}

.header-banner .right-logo img {
	width: 100%;
	max-width: 260px;
	height: 260px;
}

/* header banner end */

/* Navbar Start */
.navbar {
	background-color: #e4e1cd;
	transition: all 0.3s ease-in-out;
}

.navbar .nav-link {
	font-size: 12px;
	font-weight: 700;
	white-space: nowrap;
}

.navbar ul li a {
	color: #00254a;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	line-height: 40px;
	transition: 350ms;
	padding: 0px;
}

/* Scrolled navbar */
.navbar.scrolled {
	background-color: #e4e1cd;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-link:focus,
.nav-link:hover {
	color: #00254a;
	text-decoration: none;
}

.dropdown-item {
	white-space: nowrap;
	padding: 10px 18px;
	font-size: 14px;
	font-weight: 500;
	color: #333;
	transition: all 0.3s ease;
}

.dropdown-item:hover {
	color: #00254a;
	padding-left: 24px;
}

.dropdown-menu {
	min-width: 260px !important;
	border-radius: 8px;
	border: none;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
	padding: 8px 10px;
	border-top: 3px solid #534e2d;
	background-color: #ffffff;
	/* margin-top: 6px !important; */
}

.dropdown-menu .dropdown-item {
	color: #212529;
}
.dropdown-menu .dropdown-item:hover {
	color: #687786;
}

.dropdown-menu li:last-child a {
	border-bottom: none;
}

/* Hide default Bootstrap caret */
.dropdown-toggle::after {
	display: none;
}

.fa {
	transition: all ease-in-out 0.4s;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	color: #00254a;
}

/* Hover on dropdown */
@media (min-width: 992px) {
	.nav-item.dropdown:hover > .dropdown-menu {
		display: block;
		margin-top: 0;
	}
}

/* Navbar end */

/* header banner slider start */
.carousel-item img {
	height: 400px;
	object-fit: cover;
	object-position: center top;
}

/* banner */
.blue-banner {
	width: 100%;
	background: #b5ae77;
	text-align: center;
	padding: 25px 15px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
}

/* Blinking text */
.blink-text {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	animation: blink 1.5s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Logo slider */
.logo-slider {
	overflow: hidden;
	margin-top: 10px;
}

.logo-track {
	display: flex;
	width: calc(250px * 10);
	animation: scroll 18s linear infinite;
}

.logo-track img {
	background: white;
	margin: 0 10px;
	padding: 10px 15px;
	border-radius: 12px;
	height: 60px;
	object-fit: contain;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Slider animation */
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

/* hero slider start */

.hero-slider img {
	height: 40vh;
	object-fit: cover;
}

/* Bottom box attached to carousel */
.carousel-bottom-box {
	position: absolute;
	bottom: -60px;
	width: 60%;
	z-index: 10;
}

.carousel-bottom-box .container {
	background: #ffffff;
	padding: 25px 15px;
	border-radius: 8px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Bottom item styling */
.bottom-item img {
	width: 40px;
	margin-bottom: 8px;
}

.bottom-item h6 {
	font-weight: 600;
	margin: 0;
}

/* Hero section end */

/* about section link css start here */
.left-sidebar {
	border-radius: 8px;
	border: none;
	background-color: #ffffff;
}
.list-group-item.active {
	background-color: #534e2d;
	border-color: #534e2d;
	color: #fff;
}
.list-group-item.active:hover {
	background-color: #402f1c;
	border-color: #402f1c;
	color: #fff;
}

/* ceo desk start */
.ceo-desk {
	background: #f8f9fa;
	padding: 60px 0;
}
.ceo-desk .space {
	height: 60px;
}
.ceo-desk h3 {
	color: #1d3557;
}
.ceo-desk .ceo-img {
	max-height: auto;
	object-fit: cover;
}

/* ceo desk end */

/* vision mission start */
.vision-mission-section {
	padding: 60px 0;
}
.vision-mission-section .space {
	height: 60px;
}
.vision-mission-section h3 {
	color: #1d3557;
}
.message-box-1,
.message-box-2,
.message-box-3 {
	padding: 40px 0px;
}
.message-box {
	color: #1d3557;
	background: #b5ae77;
	padding: 30px 20px;
	margin: 20px 0;
	border-radius: 8px;
	box-shadow: 0 10px 25px rgba(181, 174, 119, 0.5);
}
.vision-img-slider {
	margin-bottom: 40px;
}

/* slick slider vision mission */
.vision-img-slider img {
	width: 100%;
	height: 350px;
	max-height: auto;
	object-fit: cover;
	border-radius: 8px;
	margin: auto;
}

.vision-img-slider .slick-slide {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.vision-img-slider .slick-prev,
.vision-img-slider .slick-next {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}

.vision-img-slider:hover .slick-prev,
.vision-img-slider:hover .slick-next {
  opacity: 1;
  visibility: visible;
}

.vision-img-slider .slick-prev:before,
.vision-img-slider .slick-next:before {
	font-size: 40px;
	color: #534e2d;
}

.vision-img-slider .slick-prev {
	left: 20px;
}

.vision-img-slider .slick-next {
	right: 20px;
}

/* Center slides */
.vision-img-slider .slick-slide {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

/* dynamic slider */
.vision-img-dynamic-slider {
	margin-top: 20px;
}

#wowslider-container1 .ws_images {
	border-radius: 8px !important;
	border: none !important;
	outline: none !important;
	overflow: hidden;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) !important;
}

#wowslider-container1 .ws_images ul li img {
	border-radius: 8px !important;
}

/* vision mission end */

/* client partners start */

.clients-partners-section {
	background: #f8f9fa;
	padding: 60px 0;
}
.clients-partners-section .space {
	height: 60px;
}
.clients-partners-section h3 {
	color: #1d3557;
}
.logo-card {
	border: 2px solid #b5ae77;
	border-radius: 15px;
	padding: 15px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	transition: all 0.3s ease;
}

.logo-card img {
	max-width: 100%;
	max-height: 90px;
	object-fit: contain;
}

.logo-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* client partners end */

/* terms start */
.terms-section {
	background: #f8f9fa;
	padding: 60px 0;
}
.terms-section .space {
	height: 60px;
}
.terms-section h3 {
	color: #1d3557;
}
/* terms end */

/* about section link css end here */

/* footer section start */

.dark-footer {
	background: #e4e1cd;
	color: #fff;
	padding: 60px 0px;
	font-family: "Segoe UI", sans-serif;
}

.footer-title {
	color: #1d3557;
	margin-bottom: 20px;
	font-weight: 600;
	position: relative;
}

.footer-title::after {
	content: "";
	width: 40px;
	height: 3px;
	background: #00254a;
	display: block;
	margin-top: 6px;
}

.footer-text {
	width: 490px;
	max-width: 100%;
	color: #1d3557;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.7;
}

.footer-list {
	list-style: none;
	padding: 0;
}

.footer-list li {
	color: #1d3557;
	font-weight: 500;
	margin-bottom: 12px;
	font-size: 16px;
}

.footer-list i {
	color: #00254a;
	margin-right: 10px;
}

/* Social Icons */
.social-icons a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	margin-right: 10px;
	border-radius: 50%;
	color: #00254a;
	font-size: 25px;
	transition: 0.3s ease;
}

.social-icons a:hover {
	color: #b5ae77;
	transform: translateY(-4px);
}

.footer-copy {
	font-size: 13px;
	color: #1d3557;
}

/* footer section end */

/* footer copyright section */
.right-footer {
	/* background: linear-gradient(135deg, #1d3557, #457b9d); */
	background: #b5ae77;
	padding: 15px 0;
}

.right-footer p {
	font-size: 14px;
	color: #1d3557;
}

.right-footer a {
	margin-left: 15px;
	text-decoration: none;
	color: #1d3557;
	font-weight: 700;
}

.right-footer a:hover {
	color: #020b12;
	text-decoration: underline;
}

/* WhatsApp Button */
.whatsapp-btn {
	position: fixed;
	right: 50px;
	bottom: 65px;
	background-color: #25d366;
	color: #fff;
	font-size: 22px;
	padding: 10px 15px;
	border-radius: 50%;
	text-align: center;
	z-index: 1000;
}

/* Scroll To Top Button */
.scroll-top {
	position: fixed;
	right: 55px;
	bottom: 3px;
	background-color: #1d3557;
	color: #fff;
	border: none;
	padding: 10px 12px;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease;
}

.scroll-top:hover {
	background-color: #00254a;
}

/* Hide Slick slider dots */
.slider .slick-dots {
	display: none !important;
}

/* Hide Bootstrap carousel indicators */
.carousel-indicators {
	display: none !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
	color: #fff;
}
