/* about section link css start here */

.left-sidebar {
	border-radius: 8px;
	border: none;
	background-color: #ffffff;
}
.list-group-item.active {
	background-color: #534e2d;
	border-color: #534e2d;
	color: #fff;
}
.list-group-item.active:hover {
	background-color: #402f1c;
	border-color: #402f1c;
	color: #fff;
}

/* ceo desk start */
.ceo-desk {
	background: #f8f9fa;
	padding: 60px 0;
}
.ceo-desk .space {
	height: 60px;
}
.ceo-desk h3 {
	color: #1d3557;
}
.ceo-desk .ceo-img {
	max-height: auto;
	object-fit: cover;
}

/* ceo desk end */

/* vision mission start */
.vision-mission-section {
	padding: 60px 0;
}
.vision-mission-section .space {
	height: 60px;
}
.vision-mission-section h3 {
	color: #1d3557;
}
.message-box-1,
.message-box-2,
.message-box-3 {
	padding: 40px 0px;
}
.message-box {
	color: #1d3557;
	background: #b5ae77;
	padding: 30px 20px;
	margin: 20px 0;
	border-radius: 8px;
	box-shadow: 0 10px 25px rgba(181, 174, 119, 0.5);
}
.vision-img-slider {
	margin-bottom: 40px;
}

/* slick slider vision mission */
.vision-img-slider img {
	width: 100%;
	height: 350px;
	max-height: auto;
	object-fit: cover;
	border-radius: 8px;
	margin: auto;
}

.vision-img-slider .slick-slide {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.vision-img-slider .slick-prev,
.vision-img-slider .slick-next {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}

.vision-img-slider:hover .slick-prev,
.vision-img-slider:hover .slick-next {
  opacity: 1;
  visibility: visible;
}

.vision-img-slider .slick-prev:before,
.vision-img-slider .slick-next:before {
	font-size: 40px;
	color: #534e2d;
}

.vision-img-slider .slick-prev {
	left: 20px;
}

.vision-img-slider .slick-next {
	right: 20px;
}

/* Center slides */
.vision-img-slider .slick-slide {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

/* dynamic slider */
.vision-img-dynamic-slider {
	margin-top: 20px;
}

#wowslider-container1 .ws_images {
	border-radius: 8px !important;
	border: none !important;
	outline: none !important;
	overflow: hidden;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) !important;
}

#wowslider-container1 .ws_images ul li img {
	border-radius: 8px !important;
}

/* vision mission end */

/* client partners start */

.clients-partners-section {
	background: #f8f9fa;
	padding: 60px 0;
}
.clients-partners-section .space {
	height: 60px;
}
.clients-partners-section h3 {
	color: #1d3557;
}
.logo-card {
	border: 2px solid #b5ae77;
	border-radius: 15px;
	padding: 15px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	transition: all 0.3s ease;
}

.logo-card img {
	max-width: 100%;
	max-height: 90px;
	object-fit: contain;
}

.logo-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* client partners end */

/* terms start */
.terms-section {
	background: #f8f9fa;
	padding: 60px 0;
}
.terms-section .space {
	height: 60px;
}
.terms-section h3 {
	color: #1d3557;
}
/* terms end */

/* about section link css end here */


