/* msme act section CSS */

/* Left side bar start */
.left-sidebar {
	border-radius: 8px;
	border: none;
	background-color: #ffffff;
}
.list-group-item.active {
	background-color: #534e2d;
	border-color: #534e2d;
	color: #fff;
}
.list-group-item.active:hover {
	background-color: #402f1c;
	border-color: #402f1c;
	color: #fff;
}
/* Left side bar end */

/* Paragraph CSS */
h2.head-title {
	font-weight: bold;
	margin-bottom: 20px;
	color: #00254a;
	text-transform: uppercase;
}
.text-bg {
	background-color: #b5ae77;
	padding: 20px;
	border-radius: 8px;
}
.text-bg h3 {
	color: #00254a;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
}
.text-bg p {
	color: #00254a;
	font-size: 16px;
}
.text-bg img {
	width: 100%;
	height: 250px;
}
.text-bg ul li a {
	color: #00254a;
	font-weight: 500;
}
.text-bg i {
	color: #402f1c;
}
/* Paragraph CSS */

/* MSME ACT CSS START HERE */
.msme-act-section {
	padding: 60px 0;
}

.msme-act-section .space {
	height: 60px;
}

.msme-act-section .content-box h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

.msme-act-section .content-box h6 {
	font-size: 18px;
	line-height: 1.6;
}

.msme-act-section .content-box h4 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.msme-act-section table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
}

.msme-act-section .content-box .table-space {
	height: 20px;
}

.msme-act-section .content-box table h4 {
	margin: 0px;
	font-size: 16px;
}

.msme-act-section .content-box table th {
	background-color: #534e2d;
	color: #fff;
	font-weight: bold;
	padding: 12px;
	text-align: center;
}

.msme-act-section .content-box table td {
	padding: 12px;
	text-align: center;
	background-color: #f9f6e6;
}
/* MSME ACT CSS END HERE */

/* Bank Service CSS END HERE */

.banking-section {
	padding: 60px 0;
}

.banking-section .space {
	height: 60px;
}

.banking-section .content-box h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

.banking-section .bank-txt {
	background-color: #b5ae77;
	padding: 20px;
	border-radius: 8px;
}

.banking-section .bank-txt p {
	color: #00254a;
	font-size: 16px;
	line-height: 1.6;
}

.chart-img {
	width: 100%;
}

/* Bank Service CSS END HERE */

/* Corporate Finance section start here */
.corporate-finance-section {
	padding: 60px 0;
}
.corporate-finance-section .space {
	height: 60px;
}

/* Corporate Finance section end here */

/* Private Equity section start here */
.private-equity-section {
	padding: 60px 0;
}
.private-equity-section .space {
	height: 60px;
}
/* Private Equity section end here */

/* FDI SMES section Start here */
.fdi-smes-section {
	padding: 60px 0;
}
.fdi-smes-section .space {
	height: 60px;
}
/* FDI SMES section End here */

/* Liaison Support section Start */
.liaison-support-section {
	padding: 60px 0;
}
.liaison-support-section .space {
	height: 60px;
}
.liaison-support-section img.hand-img {
	width: auto;
	height: auto;
}
/* Liaison Support section End */

/* Emi Calculator Start Here */
.emi-cal-section {
	padding: 60px 0;
}
.emi-cal-section .space {
	height: 60px;
}

.emi-card {
	max-width: 420px;
	margin: 40px auto;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}
.btn-calc {
	border: 2px solid #534e2d;
	color: #000;
	font-weight: 600;
}
.btn-calc:hover {
	background: #534e2d;
	color: #fff;
}
table td {
	font-size: 14px;
}
/* Emi Calculator End Here */

/* Taxation Section Start Here */
.tax-section {
	padding: 60px 0;
}
.tax-section .space {
	height: 60px;
}
/* Taxation Section End Here */

/* Remove bootstrap focus btn / input  */
.btn:focus,
.btn:active {
	box-shadow: none !important;
	outline: none !important;
}

.form-control:focus {
	box-shadow: none !important;
	outline: none !important;
}

.form-control:focus {
	border-color: #b5ae77;
	box-shadow: 0 0 5px rgba(181, 174, 119, 0.5);
}
