/* Left side bar start */
.left-sidebar {
	border-radius: 8px;
	border: none;
	background-color: #ffffff;
}
.list-group-item.active {
	background-color: #534e2d;
	border-color: #534e2d;
	color: #fff;
}
.list-group-item.active:hover {
	background-color: #402f1c;
	border-color: #402f1c;
	color: #fff;
}
/* Left side bar end */

/* Biogas start here */
.biogas-section {
	padding: 60px 0;
}
.biogas-section .space {
	height: 60px;
}
.biogas-section .bio-slider {
	padding-top: 0px;
	width: 440px;
}
.biogas-section .bio-header {
	margin-bottom: 15px;	
}
/* Biogas end here */

/* Biogas cattle dung start here */
.biogas-dung-section {
	padding: 60px 0;
}
.biogas-dung-section .space {
	height: 60px;
}
.biogas-dung-section .dung-slider {
	padding: 0px;
}
/* Biogas cattle dung end here */

/* Biomass start here */
.biomass-section {
	padding: 60px 0;
}
.biomass-section .space {
	height: 60px;
}
.biomass-section h3 {
	margin-bottom: 15px;
}
/* Biomass end here */

/* Web designing start here */
.business-section {
	padding: 60px 0;
}
.business-section .space {
	height: 60px;
}
/* Web designing end here */

/* Solar Energy Start Here */
.solar-section {
	padding: 60px 0;
}
.solar-section .space {
	height: 60px;
}
.solar-section .solar-slider {
	padding: 0px;
}
/* Solar Energy End Here */

/* Waste Water Treatment Start Here */
.waste-water-section {
	padding: 60px 0;
}
.waste-water-section .space {
	height: 60px;
}
.waste-water-section .water-treat-slider {
	padding: 0px;
}
.waste-water-section .water-treat-title {
	margin-bottom: 15px;
}
/* Waste Water Treatment Start End */

/* Apply now btn Start Here */
.apply-now-btn {
	background-color: #534e2d;
	color: #fff;
	border: none;
	padding: 8px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}
.apply-now-btn:hover {
	background-color: #402f1c;
	color: #fff;
}
/* Apply now btn End Here */