/* Left side bar start */
.left-sidebar {
	border-radius: 8px;
	border: none;
	background-color: #ffffff;
}
.list-group-item.active {
	background-color: #534e2d;
	border-color: #534e2d;
	color: #fff;
}
.list-group-item.active:hover {
	background-color: #402f1c;
	border-color: #402f1c;
	color: #fff;
}
/* Left side bar end */

/* Traninig Section Start Here */
.training-section {
    padding: 60px 0px;
}
.training-section .space {
    height: 60px;
}
.training-section img.tr-img {
	border: 4px solid #402f1c;
	border-radius: 8px;
}
/* Trainig Section End here */

/* Skill Trainig Section Start here */
.skill-training-section {
    padding: 60px 0px;
}

.skill-training-section .space {
    height: 60px;
}
.skill-training-section img.skill-tr-img {
	border: 4px solid #402f1c;
	border-radius: 8px;
}
/* Skill Trainig Section End here */

/* Training Photo Section Start Here */
.training-photo-section {
    padding: 60px 0px;
}

.training-photo-section .space {
    height: 60px;
}
.training-photo-section .training-photo-slider #wowslider-container1 {
	margin: auto 0px;
	background-color: #534e2d;
	width: 100%;
	max-width: 768px;
	border: 5px solid #534e2d;
	border-radius: 10px;
}

/* Training Photo Section End Here */

/* Import & Export Section Start Here */
.import-export-section {
    padding: 60px 0px;
}

.import-export-section .space {
    height: 60px;
}
.import-export-section img.impo-expo-img {
	width: 100%;
	padding: 3px 6px 6px 3px;
	border: 4px solid #402f1c;
	border-radius: 8px;
}
/* Import & Export Section End Here */

/* Business Mentoring Section Start Here */
.mentor-section {
	padding: 60px 0px;
}

.mentor-section .space {
	height: 60px;
}
.mentor-section img.mentor-img {
	border: 4px solid #402f1c;
	border-radius: 8px;
}
/* Business Mentoring Section End Here */