* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", sans-serif;
	overflow-x: hidden;
}

/* Top bar start */
.top-bar {
	background: #e3f2fd;
	color: #0d47a1;
	font-size: 14px;
}

.top-bar .top-info i {
	margin-right: 5px;
	font-size: 18px;
}

.top-bar .top-info p {
	margin: 0px;
}

.top-bar ul {
	margin: 0px;
}

.social-icons li {
	display: inline-block;
}

/* Top bar end */

/* header banner start */

.header-banner {
	width: 100%;
	height: 300px;
	background: url(/images/bg-img/header-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.header-banner a img {
	width: 100%;
	max-width: 420px;
	height: 154px;
}

.header-banner img {
	width: 100%;
	max-width: 260px;
	height: 260px;
}

/* header banner end */

/* Navbar Start */
.navbar {
	background-color: #1f5086;
	transition: all 0.3s ease-in-out;
}

.navbar ul li a {
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: -0.2px;
	line-height: 40px;
	transition: 350ms;
}

.navbar-nav .nav-link.active {
	color: #1976d2;
}

.navbar.scrolled {
	background-color: #1f5086;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
	color: #1976d2;
}

.dropdown-menu {
	border-radius: 0px;
	border-top: 2px solid #1976d2;
	background-color: #ffffff;
	padding: 0px 20px;
}

.dropdown-menu .dropdown-item {
	color: #212529;
}
.dropdown-menu .dropdown-item:hover {
	color: #687786;
}

.dropdown-menu li a {
	width: 200px;
	padding: 0px;
	outline: none;
	border-bottom: 1px solid #212529;
}

.dropdown-menu li:last-child a {
	border-bottom: none;
}

/* Hide default Bootstrap caret */
.dropdown-toggle::after {
	display: none;
}

.fa {
	transition: all ease-in-out 0.4s;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	color: #ffffff;
}

/* Hover on dropdown */
@media (min-width: 992px) {
	.nav-item.dropdown:hover > .dropdown-menu {
		display: block;
		margin-top: 0;
	}
}

/* Navbar end */
/* header banner slider start */

.carousel-item img {
	height: 400px;
	object-fit: cover;
}

.carousel-item .caption-one {
	position: absolute;
	right: 15%;
	top: 8.25rem;
	left: 15%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
}
.carousel-item .caption-two {
	position: absolute;
	bottom: 8.25rem;
	right: 50%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
}
.carousel-item .caption-three {
	position: absolute;
	top: 8.25rem;
	left: 50%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
}
.carousel-item .caption-four {
	position: absolute;
	right: 15%;
	top: 8.25rem;
	left: 25%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
}
.carousel-item .caption-five {
	position: absolute;
	right: 15%;
	top: 8.25rem;
	left: 40%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
}
.carousel-item .caption-six {
	position: absolute;
	right: 55%;
	top: 8.25rem;
	left: 15%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
}
.carousel-item .caption-seven {
	position: absolute;
	right: 45%;
	top: 8.25rem;
	left: 15%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
}

/* banner */
.blue-banner {
	width: 100%;
	background: #457b9d;
	text-align: center;
	padding: 25px 15px;
	position: absolute;
    top: 80%;
    left: 15%;
	border-radius: 15px;
}

/* Blinking text */
.blink-text {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	animation: blink 1.5s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Logo slider */
.logo-slider {
	overflow: hidden;
	margin-top: 10px;
}

.logo-track {
	display: flex;
	width: calc(250px * 10);
	animation: scroll 18s linear infinite;
}

.logo-track img {
	background: white;
	margin: 0 10px;
	padding: 10px 15px;
	border-radius: 12px;
	height: 60px;
	object-fit: contain;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Slider animation */
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

/* hero slider start */

.hero-slider img {
	height: 40vh;
	object-fit: cover;
}

/* Bottom box attached to carousel */
.carousel-bottom-box {
	position: absolute;
	bottom: -60px;
	width: 60%;
	z-index: 10;
}

.carousel-bottom-box .container {
	background: #ffffff;
	padding: 25px 15px;
	border-radius: 8px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Bottom item styling */
.bottom-item img {
	width: 40px;
	margin-bottom: 8px;
}

.bottom-item h6 {
	font-weight: 600;
	margin: 0;
}

/* Hero section end */

/* activities section start */
.activities-section .space {
	height: 60px;
}

.activities-section {
	padding: 60px 0;
	background-color: #e3f2fd;
}

.activities-title {
	font-weight: 700;
	color: #1d3557;
	letter-spacing: 1px;
}

/* Card */
.activity-card {
	background: #fff;
	padding: 25px;
	border-radius: 12px;
	text-align: center;
	height: 100%;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease;
}

.activity-card img {
	max-width: 100%;
	height: 140px;
	object-fit: contain;
	margin-bottom: 15px;
}

.activity-card h5 {
	font-weight: 600;
	margin-bottom: 10px;
	color: #1d3557;
}

.activity-card p {
	font-size: 14px;
	color: #444;
	line-height: 1.6;
}

/* Button */
.activity-btn {
	margin-top: 10px;
	padding: 6px 22px;
	border-radius: 20px;
	border: 1px solid #1d3557;
	color: #1d3557;
	font-size: 14px;
	transition: 0.3s ease;
}

.activity-btn:hover {
	background: linear-gradient(135deg, #1d3557, #457b9d);
	color: #fff;
}

/* Hover effect */
.activity-card:hover {
	transform: translateY(-8px);
	box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

/* activities section end */

/* sme section start */
.sme-section {
	padding: 60px 0;
	background-color: #bbdefb;
}

.sme-title {
	font-weight: 700;
	color: #1d3557;
	letter-spacing: 1px;
}

/* Image */
.sme-image img {
	border-radius: 12px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.sme-carousel img {
	border-radius: 12px;
	height: 350px;
	object-fit: cover;
	/* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3); */
}

/* Extra smooth fade */
.carousel-fade .carousel-item {
	transition: opacity 0.9s ease-in-out;
}

/* Content Card */
.sme-content {
	background: linear-gradient(135deg, #1d3557, #457b9d);
	color: #fff;
	padding: 35px;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.sme-content p {
	font-size: 15px;
	line-height: 1.8;
}

/* Button */
.sme-btn {
	margin-top: 15px;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f1faee;
	color: #1d3557;
	font-weight: 600;
	transition: 0.3s ease;
}

.sme-btn:hover {
	background-color: #7ba5c3;
	color: #fff;
}

/* sme section end */

/* Client logo section start */
.logo-section {
	background-color: #1d3557;
	padding: 40px 0;
	overflow: hidden;
}

.logo-slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.logo-track {
	display: flex;
	align-items: center;
	width: calc(250px * 14);
	animation: scroll 25s linear infinite;
}

.logo-track img {
	width: 150px;
	height: 60px;
	object-fit: contain;
	margin: 0 20px;
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #000;
}

/* Pause on hover */
.logo-slider:hover .logo-track {
	animation-play-state: paused;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

/* client logo section end */

/* scheme section start */
.schemes-section {
	padding: 60px 0;
	background-color: #e3f2fd;
}

.schemes-title {
	font-weight: 700;
	color: #1d3557;
	letter-spacing: 1px;
}

/* Card Design */
.scheme-card {
	background: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease;
	height: 100%;
}

.scheme-card img {
	max-height: 200px;
	object-fit: cover;
	margin-bottom: 15px;
}

/* Hover Effect */
.scheme-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.scheme-card h5 {
	margin-top: 10px;
	font-weight: 600;
	color: #1d3557;
}

/* scheme section end */

/* footer section start */

.dark-footer {
	background: linear-gradient(135deg, #1d3557, #addfff);
	color: #fff;
	padding: 60px 0px;
	font-family: "Segoe UI", sans-serif;
}

.footer-title {
	color: #ffffff;
	margin-bottom: 20px;
	font-weight: 600;
	position: relative;
}

.footer-title::after {
	content: "";
	width: 40px;
	height: 3px;
	background: #00254a;
	display: block;
	margin-top: 6px;
}

.footer-text {
	color: #e3f2fd;
	font-size: 14px;
	line-height: 1.7;
}

.footer-list {
	list-style: none;
	padding: 0;
}

.footer-list li {
	color: #e3f2fd;
	margin-bottom: 12px;
	font-size: 14px;
}

.footer-list i {
	color: #00254a;
	margin-right: 10px;
}

/* Social Icons */
.social-icons a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	margin-right: 10px;
	border-radius: 50%;
	color: #00254a;
	font-size: 25px;
	transition: 0.3s ease;
}

.social-icons a:hover {
	color: #fff;
	transform: translateY(-4px);
}

.footer-copy {
	font-size: 13px;
	color: #888;
}

/* footer section end */

/* footer copyright section */
.right-footer {
	background: linear-gradient(135deg, #1d3557, #457b9d);
	padding: 15px 0;
}

.right-footer p {
	font-size: 14px;
	color: #e3f2fd;
}

.right-footer a {
	margin-left: 15px;
	text-decoration: none;
	color: #e3f2fd;
	font-weight: 500;
}

.right-footer a:hover {
	color: #020b12;
	text-decoration: underline;
}

/* WhatsApp Button */
.whatsapp-btn {
	position: fixed;
	right: 50px;
	bottom: 65px;
	background-color: #25d366;
	color: #fff;
	font-size: 22px;
	padding: 10px 15px;
	border-radius: 50%;
	text-align: center;
	z-index: 1000;
}

/* Scroll To Top Button */
.scroll-top {
	position: fixed;
	right: 55px;
	bottom: 3px;
	background-color: #1d3557;
	color: #fff;
	border: none;
	padding: 10px 12px;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease;
}

.scroll-top:hover {
	background-color: #00254a;
}

/* Hide Slick slider dots */
.slider .slick-dots {
	display: none !important;
}

/* Hide Bootstrap carousel indicators */
.carousel-indicators {
	display: none !important;
}
